os: linux
dist: xenial  # ubuntu 16.04

language: python

branches:
  only:
    - master
    - release

env:
  global:
    - COVERAGE=false

matrix:
  include:
    - python: 3.6
    - python: 3.7
      env:
        - COVERAGE=true

install:
  - pip install coveralls pytest pytest-cov
  - pip install -e .

script:
  - make test

after_success:
  - |
    if [[ "$COVERAGE" = true ]]; then
      coveralls;
    fi
