cython>=0.29
numpy>=1.15
pandas>=0.23
pytest>=5.4
pytest-cov>=2.10
scikit-learn>=0.23
scipy>=1.1
setuptools>=45
statsmodels>=0.9
twine>=2.0.0
typing-extensions>=3.7.4.2; python_version < '3.8'
wrapt>=1.12
