include MANIFEST.in
include LICENSE
include README.md
include setup.py
include *.rst

recursive-include copulae/datasets *.csv
recursive-include copulae/copula *.p

global-exclude *.py[co]

prune .pytest_cache
prune docs

graft copulae

include versioneer.py
include copulae/_version.py
