include MANIFEST.in
include LICENSE
include README.md
include setup.py

global-exclude *.py[co]
global-exclude *.p

prune .pytest_cache

graft copulae

include versioneer.py
include copulae/_version.py
