[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
scipy = "*"
wrapt = "*"
pytest = "*"
scikit-learn = "*"
cython = "*"
statsmodels = "*"
typing-extensions = "*"
coverage = "*"
pytest-cov = "*"
ipython = "*"
setuptools = "*"
build = "*"
versioneer = {extras = ["toml"], version = "*"}

[dev-packages]

[requires]
python_version = "3.13"
