alabaster==0.7.12
asn1crypto==0.24.0
atomicwrites==1.2.1
attrs==18.2.0
Babel==2.6.0
backcall==0.1.0
beautifulsoup4==4.6.3
bleach==3.1.0
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
Click==7.0
cmarkgfm==0.4.2
colorama==0.4.1
conda==4.6.1
conda-build==3.17.6
conda-verify==3.1.1
coverage==4.5.2
cryptography==2.4.2
cycler==0.10.0
Cython==0.29.2
decorator==4.3.0
docutils==0.14
filelock==3.0.10
future==0.17.1
glob2==0.6
idna==2.8
imagesize==1.1.0
ipython==7.2.0
ipython-genutils==0.2.0
jedi==0.13.2
Jinja2==2.10
kiwisolver==1.0.1
libarchive-c==2.8
MarkupSafe==1.1.0
matplotlib==3.0.2
menuinst==1.4.14
mkl-fft==1.0.10
mkl-random==1.0.2
more-itertools==5.0.0
numpy==1.15.4
packaging==18.0
pandas==0.23.4
parso==0.3.1
patsy==0.5.1
pickleshare==0.7.5
pkginfo==1.4.2
pluggy==0.8.0
prompt-toolkit==2.0.7
psutil==5.4.8
py==1.7.0
pycosat==0.6.3
pycparser==2.19
Pygments==2.3.1
pyOpenSSL==18.0.0
pyparsing==2.3.1
PySocks==1.6.8
pytest==4.0.2
pytest-cov==2.6.1
pytest-mock==1.10.0
python-dateutil==2.7.5
pytz==2018.7
pywin32==223
PyYAML==3.13
readme-renderer==24.0
requests==2.21.0
requests-toolbelt==0.8.0
ruamel-yaml==0.15.46
scipy==1.1.0
seaborn==0.9.0
six==1.12.0
snowballstemmer==1.2.1
Sphinx==1.8.2
sphinxcontrib-websupport==1.1.0
statsmodels==0.9.0
tornado==5.1.1
tqdm==4.28.1
traitlets==4.3.2
twine==1.12.1
urllib3==1.24.1
wcwidth==0.1.7
webencodings==0.5.1
win-inet-pton==1.0.1
wincertstore==0.2
